[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  SECRETS_SCAN_SMART_DETECTION_OMIT_VALUES = "AIzaSyBpPx8c4NMCkM5hHDlJAeS5ErkHFLDyvxw"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
